<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <connectionStrings>
    <add name="Inventory" connectionString="Data Source=INV0408\SQLEXPRESS;initial catalog=INV;Integrated Security=False;User Id=sa;Password=masterkey;MultipleActiveResultSets=True;" providerName="System.Data.SqlClient" />

  <add name="InventoryModel" connectionString="data source=(LocalDb)\MSSQLLocalDB;initial catalog=Inventory.InventoryModel;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" /><add name="InvModel" connectionString="data source=(LocalDb)\MSSQLLocalDB;initial catalog=Inventory.InvModel;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" /></connectionStrings>
</configuration>